/* You can add global styles to this file, and also import other style files */
html{
    background: url('assets/images/Book.jpg') no-repeat center center fixed;
    background-size: cover;
    display: flex;
}

.row {
  flex-direction: row;
}

.column {
  flex-direction: column;
}
